name: CI
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install just and tytanic
        uses: taiki-e/install-action@v2
        with:
          tool: just,tytanic

      - name: Setup typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: ^0.14

      - name: Install package
        run: just install-preview

      - name: Run CI
        run: just ci
